/*[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }*/
  section > .container{
    padding: 0;
  }
   @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width:768px) and (max-width:991px){
    
    #nav-bar .name-nav{
      display: none;
    }
    .section-title{
      font-size: 25px;
      margin-bottom: 15px;
    }
    .text{
      font-size: 16px;
    }
    .p-icon{
      padding: 20px;
    }
    #job-info .container{
      display: flex;
     flex-wrap: wrap;
     width: 100%;
      
    }
    .column{
      width:calc(50% - 40px);
    margin: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    }
    .du-an h3{
      font-size: 18px;
    }
    .div-da{
      display: grid;
      grid-template-columns: 33% 33% 33%;
    }

    



    .work-content h5, .time-line h5, .hobbies-item h5, .language-name h5{
      font-size: 2vw;
    }
    .work-detail, .hobbies{
      padding: 15px;
    }
    .language-item{
      padding: 0 15px;
    }
    .column-item h2{
      padding: 0px 15px;
      width: 75%;
    }
    .name-work h4{
      font-size: 2.25vw;
    }
    .cc-gt-1, .cc-gt-2, .cc-gt-3{
      grid-template-columns: unset;
      grid-template-rows: 100% 100%;
    }
    /*.view-ccgt{
      border-bottom: 1px solid #d6c08d;
    border-right: 1px solid #d6c08d;
    }*/
    .view-ccgt img{
      width: 100%;
    }
    .td1,.td2 {
      font-size: 15px;
    }
    .icon-linkedin-circled{
    
      height: 32%;
      width: 32%;
  }
  .icon-facebook-circled{
     
      height: 32%;
      width: 32%;
  }
  .icon-github-circled{
     
      height: 32%;
      width: 32%;
  }

  }
  
  
